body {
  /* background: linear-gradient(45deg, #37ecba, #72afd3);
  background: linear-gradient(45deg, #00c6fb, #005bea);
  background: linear-gradient(45deg, #13547a, #80d0c7);
  background: linear-gradient(45deg, #30cfd0, #330867); */
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для боксов */
.box {
  width: 150px;
  height: 150px;
  background-color: #eee;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:last-child {
  margin-right: 0;
}

/* Стили для перемещаемого элемента */
.item {
  width: 100px;
  height: 100px;
  background-color: blue;
  cursor: pointer;
}

/* Меняем курсор при перетаскивании */
.item:active {
  cursor: grabbing;
}

/* При перетаскивания - меняем цвет */
.item--hold {
  background-color: blueviolet;
}

/* При наведении на бокс - желтая подсветка */
.box--hovered {
  background-color: rgba(255, 255, 0, 0.2);
}

/* Перетаскивании - скрываем элемент */
.item--hide {
  display: none;
}
